* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(201, 102, 85);
    width: 100%;
}

li {
    list-style-type: "\1F449";
    list-style-position: inside;
    margin: 10px;
    padding: 2px;
    font-size: 22px;
    word-wrap: break-word;
}

a {
    text-decoration: none;
}

footer {
    text-align: center;
    font-style: italic;
    margin-top: 10px;
    font-family: 'Fira Sans', sans-serif;
}

button {
    border: none;
    border-radius: 3px;
    width: 100px;
    height: 30px;
    margin-right: 5px;
    font-family: 'Fira Sans', sans-serif;
    color: tomato;
    background-color: white;
    outline: none;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.336);
}

input {
    font-size: 18px;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
    height: 27px;
    outline: none;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.336);
}

#app {
    max-width: 700px;
    padding: 20px;
    margin: auto;
    margin-top: 10%;
    color: white;
    background-color: tomato;
    font-family: 'Fira Sans', sans-serif;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.336);
}

@media screen and (max-width: 500px) {
    #apps {
        width: 100%;
    }
}

/*MODAL*/